<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
	</startup>
	<connectionStrings>
		<!-- Example connection to a SQL Server Database on localhost. -->
		<!-- <add name="ExampleConnectionString"
			connectionString="Data Source=.;Initial Catalog=DBName;Integrated Security=True"
			providerName="System.Data.SqlClient" /> -->
	</connectionStrings>
	<appSettings>
		<!-- Begin: AccessHIM Settings -->
		<add key="AccessHIM.ApplicationPath" value="D:\\Cerner\\AccessHIM\\AccessHIM.exe"/>
		<add key="AccessHIM.Username" value="kgmf64"/>
		<add key="AccessHIM.Password" value="5?Hdh7vu"/>
		<!-- End: AccessHIM Settings -->

		<!-- Begin: RevenueCycle Settings -->
		<add key="RevenueCycle.ApplicationPath" value="D:\\Cerner\\RevenueCycle\\RevenueCycle.exe"/>
		<add key="RevenueCycle.Username" value="kgmf64"/>
		<add key="RevenueCycle.Password" value="5?Hdh7vu"/>
		<!-- End: RevenueCycle Settings -->


		<!-- Begin  Email Settings -->
		<add key="Email.SenderEmail" value="osman.alikhan@atos.net"/>
		<add key="Email.ReceiverEmail" value="osman.alikhan@atos.net"/>
		<add key="Email.SenderPassword" value="Anthelio@3"/>
		<add key="Email.Host" value="10.14.32.146"/>
		<add key="Email.Port" value="25"/>
		<!-- End: Email Settings -->

		<add key="RootFolderPath" value="R:\DiscernDequeProcess\TaskQueue\"/>
		<add key="ArchieveFolderPath" value="R:\DiscernDequeProcess\TaskQueue\Archived"/>
		<add key="Logger.FilePath" value="D:\DiscernDequeProcess\TaskQueue\Logs\"/>
		<add key="BotResponseJson.FilePath" value="R:\DiscernDequeProcess\BotResponse.json"/>
		<add key="ChargeCorrectionFileName" value="FacilityChargeCorrection_Agent"/>
		<add key="NumberOfAgents" value="2"/>
		<add key="botAgentName" value="2"/>
		<add key="DebugMode" value="True"/>
	</appSettings>
</configuration>
