<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<!-- Example connection to a SQL Server Database on localhost. -->
		<!-- <add name="ExampleConnectionString"
			connectionString="Data Source=.;Initial Catalog=DBName;Integrated Security=True"
			providerName="System.Data.SqlClient" /> -->
	</connectionStrings>
	<appSettings>
		<!-- access these values via the property:
			System.Configuration.ConfigurationManager.AppSettings[key]
		-->
		 <!-- Begin  AccessHIM Settings -->
    <add key="AccessHIM.ApplicationPath" value="D:\\Cerner\\AccessHIM\\AccessHIM.exe"/>
    <add key="AccessHIM.Username" value="v.chakradhar.ark"/>
    <add key="AccessHIM.Password" value="=UV}(tx3MKy"/>
 	<add key="AccessHIM.MasterExcelPath" value="E:\TaskQueue\MainInfo"/>
 	<!-- End: AccessHIM Settings -->
 	</appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
