<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <connectionStrings>
    <!-- Example connection to a SQL Server Database on localhost. -->
    <!-- <add name="ExampleConnectionString"
			connectionString="Data Source=.;Initial Catalog=DBName;Integrated Security=True"
			providerName="System.Data.SqlClient" /> -->
  </connectionStrings>
  <appSettings>
    <!-- End: AccessHIM Settings -->
    <add key="AccessHIM.ApplicationPath" value="D:\\Cerner\\AccessHIM\\AccessHIM.exe"/>
    <add key="AccessHIM.Username" value="v.chakradhar.ark"/>
    <add key="AccessHIM.Password" value="Lm60bj%zEW3/"/>
    <add key="AccessHIM.MasterExcel.Path" value="E:\TaskQueue\"/>
    <add key="AccessHIM.MasterExcel.FileName" value="MasterExcel"/>
    <!-- End: AccessHIM Settings -->


    <!-- Begin  Email Settings -->
    <add key="Email.SenderEmail" value="osman.alikhan@atos.net"/>
    <add key="Email.ReceiverEmail" value="osman.alikhan@atos.net"/>
    <add key="Email.SenderPassword" value="Anthelio@3"/>
    <add key="Email.Host" value="10.14.32.146"/>
    <add key="Email.Port" value="25"/>
    <add key="Email.ToBeAllicated.Subject" value="Allocation file with good records for"/>
    <add key="Email.ToBeAllicated.MessageBody" value="Hi Team, &lt;br&gt;Please find attached details of FIN# which need to be allocated to SME’s for coding.&lt;br&gt;&lt;br&gt;Should you have any queries, please feel free to contact Syntbots team. &lt;br&gt;&lt;br&gt;Thank you &lt;br&gt;BOT Signature &lt;br&gt;(Need to mention the contact details) &lt;br&gt;&lt;br&gt;&lt;br&gt;*****This is an auto-generated email, please do not reply. ******"/>
    <!-- End: Email Settings -->

    <add key="RootFolderPath" value="C:\TaskQueue1\"/>
    <add key="ArchieveFolderPath" value="C:\TaskQueue1\Archived"/>
    <add key="Logger.FilePath" value="C:\TaskQueue1\Logs\"/>
    <add key="OrderCatalog.FilePath" value="C:\Syntbots1\"/>
    <add key="CodingQueueAssignment.FilePath" value="C:\Syntbots\Cerner Coding Queue Assignment Search.xls"/>
    <add key="BotResponseJson.FilePath" value="C:\Syntbots1\BotResponse.json"/>
	 
	<!--Modified by Velan on 19/01/2022, for Flint and Lapeer go Live-->
	  <!--<add key="DNRaiseTime" value="30" />-->

	  <add key="DNRaiseTime" value="1365,1425"/>
	 
	  
	  
    <add key="BotAgentToBeProcessedFileName" value="BotOutput_Agent1"/>
    <add key="ExplodingChargesFileName" value="explodingcharges"/>
    <add key="AddonChargesFileName" value="addoncharges"/>
    <add key="NumberOfAgents" value="3"/>
    <add key="AppendDNComment" value="True"/>
    <add key="botAgentName" value="1"/>
    <add key="HourlyEmailMinutes" value="60"/>
    <add key="ExcludedCPTs" value="86709,87340,86705,86803,80074,85652,85651,80055,86900,86850,87340,86592,86762"/>
    <add key="CodingPassReason" value="Coding - Charge Correction Lab CNT"/>
    <add key="Facility" value="Central"/>
  </appSettings>
</configuration>
